body{

    font-family:sans-serif;

    background:#f4f4f4;

    padding:20px;
}

h1{

    color:#222;
}

.player-form{

    background:white;

    padding:15px;

    margin-bottom:15px;

    border-radius:10px;
}

input{

    margin:5px;

    padding:5px;

    width:80px;
}

button{

    padding:10px 20px;

    margin:10px 0;

    cursor:pointer;
}

#output{

    background:white;

    padding:20px;

    border-radius:10px;

    white-space:pre-wrap;

    line-height:1.6;
}